<%= form_for @content, :html => { :multipart => true }  do |f| %>
      <% if @content.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

          <ul>
            <% @content.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :ctype %><br>
        <%= f.text_field :ctype %>
      </div>
      <div class="field">
        <%= f.label :is_public %><br>
        <%= f.check_box :is_public %>
      </div>
      <div class="field">
        <%= f.label :dblink %><br>
        <%= f.text_field :dblink %>
      </div>
      <li>
            <%= f.label :image, "Photo" %>
            <%= f.file_field :image %>
        <li>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="actions">
        <%= f.submit %>
      </div>

<% end %>
