
<%= form_for current_user.contents.new(params[:content]), :html => { :multipart => true }  do |f| %>

  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" align="center">Upload image</h4>
      </div>

        <div class="modal-body">

            <div class = "form-group">
                <label> Select </label>
                <%= f.file_field :image %>
            </div>

            <div class = "checkbox">
                <label>
                    <%= f.check_box :is_public %> Check if public
                </label>
            </div>

                <%= f.hidden_field :user_id, :value => current_user.id %>

        </div>

        <div class="modal-footer">
            <div class="row text-center">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <%= f.submit "Save", class: "btn btn-primary btn-sm", name: "add_column" %>
            </div>
        </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

<% end %>
