<p>
  <strong>Type:</strong>
  <%= @content.ctype %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @content.is_public %>
</p>

<p>
  <strong>Dblink:</strong>
  <%= @content.dblink %>
</p>

<p>
  <strong>User:</strong>
  <%= @content.user_id %>
</p>
<p>
    <%= image_tag @content.image.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', root_path, "data-no-turbolink" => true %>


