<p class="pull-right">
    <%= link_to @student, 'data-no-turbolink' => true do %>
        <span class="student-name"> Start test </span>
    <% end %>
    &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
    <%= link_to students_path, 'data-no-turbolink' => true do %>
        <span class="student-name"> Back to all </span>
    <% end %>
</p>
<p>
    Download: &nbsp;&nbsp;
    <%= link_to show_summary_path(format: "csv") do %>
        <span class="student-name"> CSV </span>
    <% end %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= link_to show_summary_path(format: "xls"), 'data-no-turbolink' => true do %>
        <span class="student-name"> Excel </span>
    <% end %>
</p>
<br />
<p>
    <button id="show_graph" class='btn btn-default btn-sm'> Show Graph </button>
</p>
<br />
<div id="responses_chart" style="width: 560px; height: 300px; display: none">

     <script type="text/javascript" charset="utf-8">

     var cats = <%= raw @student.dates.to_json %>;

        var chart = new Highcharts.Chart({
                chart: {
                    type: 'column',
                    renderTo: 'responses_chart' },
                title: { text: 'Responses' },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                },
                xAxis: {
                    categories: cats
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Percentage'
                    },

                },
                plotOptions:{
                    column:{
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                textShadow: '0 0 3px black, 0 0 3px black'
                            }
                        }
                    }
                },
                tooltip: {
                  formatter: function () {
                    return '<b>' + this.series.name + ':</b> ' +
                             + Highcharts.numberFormat(this.y,0, '.', ',') + '%';
                  }
                },
                series:
                [
                    <% @student.percentages.each do |key| %>
                        {
                            name: '<%= key['name'] %>',
                            data: <%= key['data'] %>
                        },

                    <% end %>
                ]
            });


    </script>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
        <th>Date</th>
        <th>Image ID</th>
        <th>Recorded Emotion</th>
        <th>Matched</th>
        <th>Possible Answers</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= l response.created_at, :format => :date_format %></td>
        <td><%= response.matched_image_id %></td>
        <td><%= response.emotion %></td>
        <td><%= response.response_correct_as_string %></td>
        <td><%= response.possible_answers %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
