<p> <span class="student-name"><%= @student.name %></span>
    &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
    <%= link_to 'Show summary', show_summary_path(@student) %>
    &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
    <%= link_to 'Back to all', students_path %>
</p>

<br />
<div id="student-tabs">
    <ul>
        <li><a href="#test-tabs" class='test-tabs-button'>Test</a></li>
        <li> <a href ='#emotion-tabs'> Select emotions</a></li>
    </ul>

    <div id="test-tabs">
        <%= render 'blank_response' %>
    </div>

    <div id="emotion-tabs">
        <%= render 'contents_form' %>
    </div>
</div>

<div id="dialog-wrong" title="Oh my!">
    <p> Sorry! Not quite there. :((. </p>
</div>
<div id="dialog-correct" title="Oh joy!">
    <p> Yippetteee! Happy dance! :)). </p>
</div>


