<p class="pull-right">
    <%= link_to @student do %>
        <span class="student-name"> Start test </span>
    <% end %>
    &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
    <%= link_to students_path do %>
        <span class="student-name"> Back to all </span>
    <% end %>
</p>
<p>
    Download: &nbsp;&nbsp;
    <%= link_to show_summary_path(format: "csv") do %>
        <span class="student-name"> CSV </span>
    <% end %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= link_to show_summary_path(format: "xls") do %>
        <span class="student-name"> Excel </span>
    <% end %>
</p>
<br />
<p>
    <!-- <button id="show_graph" class='btn btn-default btn-sm'> Show Graph </button> -->
    <%= link_to "Show Graph", {:datas => "datas"}, {id: "show_graph", class: 'btn btn-default btn-sm'} %>
    <%#= link_to "Show Graph", show_chart_path, {id: "show_graph", class: 'btn btn-default btn-sm'} %>
</p>
<br />

<div id="responses_chart" style="width: 560px; height: 300px; display: none; margin-bottom:100px;">



</div>

    <table class='table table-striped text-center'>
      <thead>
        <tr >
            <th class="text-center"> <%= sortable "created_at", "Date" %> </th>
            <th class="text-center"> <%= sortable "emotion", "Emotions" %> </th>
            <th class="text-center">Matched</th>
            <th class="text-center">Possible Answers</th>
            <th class="text-center">Associated Image ID</th>
        </tr>
      </thead>
      <tbody>
        <% @responses.each do |response| %>
          <tr>
            <td><%= l response.created_at, :format => :date_format %></td>
            <td><%= response.emotion %></td>
            <td><%= response.response_correct_as_string %></td>
            <td><%= response.possible_answers %></td>
            <% if !response.matched_image_id.blank? %>
                <td><%= response.matched_image_id %></td>
            <% else %>
                <td>Image deleted from the database by owner</td>
            <% end %>
            <!-- <td><%#= image_tag Content.find(response.matched_image_id).image.url(:thumb) %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
