<table>
    <tr>
        <th>Date</th>
        <th>Image ID</th>
        <th>Recorded Emotion</th>
        <th>Matched</th>
        <th>Possible Answers </th>
    </tr>
    <% @responses.each do |response| %>
    <tr>
        <td><%= l response.created_at, :format => :date_format %></td>
        <td><%= response.matched_image_id %></td>
        <td><%= response.emotion %></td>
        <td><%= response.response_correct_as_string %></td>
        <td><%= response.possible_answers %></td>
    </tr>
    <% end %>
</table>
