<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner" >
        <% @selected_contents.each_with_index do |content, index| %>
                <div class="item <% if index == 0 %> active <% end %> id<%=index%> slider-size"
                    data-url='<%= content_path(content) %>' data-id='<%=content.id%>'
                    data-tagging='<%= content.matching_taggings %>' >

                    <!-- <a href='<%= content_path(content) %>' > -->
                        <%= image_tag content.image.url(:original) %>
                    <!-- </a> -->
                </div>
        <% end %>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev" data-interval="false">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next" data-interval="false">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div><!-- /.carousel -->

</br>
</br>

<div id = "student_response"></div>

<script type="text/javascript">
    createResponseForm();
</script>
