<%= form_for(@student_response, :remote => true ) do |f| %>

    <%= render 'shared/messages', object: f.object %>

    <div class="field">
        <%= f.text_field :emotion, :class => "form-control" %>
    </div>

    <%= f.hidden_field :taglist %>

    <%= f.submit "What do you think it is?", class: "btn btn-md btn-primary sm submitanswer form-control", :remote => true %>

<% end %>


